@import './table.scss';

html, body {
  height: 100%;
  width: 100%;
	overflow: hidden;
}

body {
  position: relative;
}

.app-ctr{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1024px;
  // height: 656px;
  max-height: 696px;
	border-radius: 2px;
	background-color: #fafafa;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  @media only screen and (max-width: 600px) {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    height: 100%;
    width: 100%;
  }
}

span[type="button"]{
  -webkit-appearance: none;
}

.no-display{
  display: none !important;
}
