@import './table.scss';

html, body, #app {
  height: 100%;
  width: 100%;
	overflow-x: hidden;
}

body {
  position: relative;
}

.app-ctr{
  margin: 0 auto;
  width: 1024px;
  height: 667px;
  box-sizing: border-box;
	border-radius: 2px;
	background-color: #fafafa;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  @media only screen and (max-width: 600px) {
    height: 100%;
    width: 100%;
    box-shadow: none;
  }
}

span[type="button"]{
  -webkit-appearance: none;
}

.no-display{
  display: none !important;
}
