table, thead, tbody, tr{
  width: 100%;
}

table{
  border-collapse:collapse;
  table-layout: fixed;
}

th, td{
  text-align: left;
}

.new-todo-dialog{
  width: 384px !important;
  background-color: $light-gray;

  input{
    width: 336px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0047bb;
  }
}

.nav-ctr{
  padding: 20px 24px;
  height: 64px;
  box-sizing: border-box;

  .title{
    font-weight: 700;
    font-size: 20px;
  }

  .material-icons {
    float: right;
    margin-left: 25px;
  }

  &.selected-todos{
    background-color: $light-blue;

    .selected-text{
      font-weight: 500;
      font-size: 16px;
      color: $blue;
    }
  }
}

.material-icons {
  color: $gray;
  cursor: pointer;
}

.todos-table-ctr{
	@media only screen and (max-width: 600px) {
    overflow: scroll;
  }
}

.table-header-ctr{
  height: 56px;
  position: relative;

  .shadow-tr{
    position: absolute;
    bottom: 1px;
    height: 1px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.7);
    background-color: $light-gray;
    border: none;
    display: block;
    width: 1024px;
  }

  th{
    padding: 20px 24px;
		box-sizing: border-box;
    &:first-child{
      width: 44px;
    }
		@media only screen and (max-width: 600px) {
			width: 140px;
		}
  }

  .header-cells{
    th{
      font-size: 12px;
      color: $gray;;
    }
  }
}

.tbody-ctr{
  height: 480px;
  overflow-y: scroll;
  width: 100%;
  font-size: 14px;
	@media only screen and (max-width: 600px) {
		overflow-y: visible;
    height: 100%;
	}

  .cell-text{
    display: inline-block;
    width: 44px;
  }

  tr{
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &.selected-todo{
      background-color: $dark-gray;
    }

    td{
      display: table-cell;
      vertical-align: middle;
      padding: 0 24px;
      height: 48px !important;
      box-sizing: border-box;
      cursor: pointer;
			&:first-child{
				width: 44px;
			}
			i{
				vertical-align: middle;
			}
			@media only screen and (max-width: 600px) {
				width: 140px;
			}
    }
  }
}
.input-popover{
  padding: 20px 24px;
  overflow: auto;

  input{
    margin-top: 21px;
    margin-bottom: 40px;
    width: 336px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0047bb;
  }

  button{
    float: right;
  }
}

.todos-table-footer{
  height: 56px;
  background-color: $light-gray;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);

  .footer-controls{
    display: table;
    height: 100%;
    vertical-align: middle;
    color: $gray;
    font-size: 12px;
    float: right;
    padding: 0 16px;

    .rows-dropdown{
      vertical-align: middle;
    }
    .rows-label{
      display: table-cell;
      vertical-align: middle;
    }

    .page-label{
      display: table-cell;
      vertical-align: middle;
      padding-right: 24px;
      width: 65px;
    }

    i.material-icons{
      display: table-cell;
      vertical-align: middle;
      &:last-child{
        padding-left: 16px;
      }
      color: $gray;
      font-size: 20px;
    }
  }
}

