.new-todo-dialog{
  width: 384px !important;
  background-color: #fafafa;

  input{
    width: 336px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0047bb;
  }
}

.material-icons {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

table, thead, tbody, tr{
  width: 100%;
}

table{
  border-collapse:collapse;
  table-layout: fixed;
}

th, td{
  text-align: left;
}

.header-ctr{
  padding: 20px 24px;
  height: 64px;
  box-sizing: border-box;

  .title{
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
  }

  .material-icons {
    float: right;
    margin-left: 25px;
  }

  &.selected-todos{
    background-color: rgba(0, 71, 187, 0.12);

    .selected-text{
      font-weight: 500;
      font-size: 16px;
      color: #0047bb;
    }
  }

}

.table-header-ctr{
  .shadow-tr{
    position: relative;
    top: -1px;
    height: 1px;
    // box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.7);
    background-color: #fafafa;
    border: none;
    display: block;
    width: 1024px;
  }

  th{
    padding: 20px 24px;
  }

  .header-cells{
    th{
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.tbody-ctr{
  height: 480px;
  overflow-y: scroll;
  width: 100%;
  font-size: 14px;

  .cell-text{
    display: inline-block;
    width: 64px;
  }

  tr{
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &.selected-todo{
      background-color: #ededed;
    }

    td{
      > div{
        display: table-cell;
        vertical-align: middle;
        padding: 0 24px;
        height: 48px !important;
        box-sizing: border-box;
        cursor: pointer;
      }

      i{
        vertical-align: middle;
      }
    }
  }
}
.input-popover{
  padding: 20px 24px;
  overflow: auto;

  input{
    margin-top: 21px;
    margin-bottom: 40px;
    width: 336px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0047bb;
  }

  button{
    float: right;
  }
}

.todos-table-footer{
  height: 56px;
  background-color: #fafafa;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);

  .footer-controls{
    display: table;
    height: 100%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    float: right;
    padding: 0 16px;

    .rows-dropdown{
      vertical-align: middle;
    }
    .rows-label{
      display: table-cell;
      vertical-align: middle;
    }

    .page-label{
      display: table-cell;
      vertical-align: middle;
      padding-right: 24px;
      width: 65px;
    }

    i.material-icons{
      display: table-cell;
      vertical-align: middle;
      &:last-child{
        padding-left: 16px;
      }
      color: rgba(0, 0, 0, 0.54);
      font-size: 20px;
    }
  }
}

