.new-todo-dialog{
  width: 384px !important;
  background-color: #fafafa;

  input{
    width: 336px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0047bb;
  }
}

.material-icons {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

table, thead, tbody, tr{
  width: 100%;
}

table{
  border-collapse:collapse;
  table-layout: fixed;
}

th, td{
  text-align: left;
}

.table-header-ctr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.87);
  }

  th{
    padding: 20px 24px;
  }

  .controls{
    height: 64px;

    .material-icons {
      float: right;
      &:first-child{
        margin-left: 25px;
      }
    }
  }

  .header-cells{
    th{
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.tbody-ctr{
  height: 480px;
  overflow-y: scroll;
  width: 100%;
  font-size: 14px;

  tr{
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    td{
      > div{
        display: table-cell;
        vertical-align: middle;
        padding: 0 24px;
        height: 48px !important;
        box-sizing: border-box;
        cursor: pointer;
      }

      i{
        vertical-align: middle;
      }
    }
  }
}
.input-popover{
  padding: 20px 24px;
  overflow: auto;

  input{
    margin-top: 21px;
    margin-bottom: 40px;
    width: 336px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0047bb;
  }

  button{
    float: right;
  }
}

.todos-table-footer{
  height: 56px;
  background-color: #fafafa;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);

  .footer-controls{
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    float: right;

    .rows-dropdown{
      vertical-align: middle;
    }
  }
}

