.new-todo-dialog{
  width: 384px !important;
  background-color: #fafafa;

  input{
    width: 336px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0047bb;
  }
}

.material-icons {
  color: rgba(0, 0, 0, 0.54);
}

.table-header-ctr{
  nav{
    height: 64px;
    padding: 24px;

    .title{
      font-weight: 500;
      font-size: 20px;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.87);
    }

    .material-icons {
      float: right;
      margin-left: 25px;
    }
  }

  .header-cells{
    padding: 23px 21px;
  }
}


.todos-table-footer{
  height: 56px;
  background-color: #fafafa;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);

  .footer-controls{
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    float: right;

    .rows-dropdown{
      vertical-align: middle;
    }
  }
}

